a {
  padding: 0;
}
* {
  box-sizing: border-box;
}
@main-color: #99c50a;
.header-container {
  max-width: 1032px;
  height: 85px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header-logo {
  margin-top: 21px;
  width: 32.17%;
  img {
    width: 211px;
  }
}
.header-nav {
  display: flex;
  justify-content: space-between;
  width: 50.39%;
  padding-top: 5px;
}
.header-link {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
  line-height: 77px;
  letter-spacing: 0px;
}
.header-nav-link {
  a {
    color: #666666;
  }
}
.header-btn {
  width: 16.86%;
  padding-left: 5.17%;
  padding-top: 3px;
  a {
    background: @main-color;
    padding: 14px 30px 14px 30px;
    border-radius: 19px;
    color: #ffffff;
    text-decoration: none;
  }
}
.banner {
  position: relative;
  background-image: url("../img/banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 139px;
  padding-bottom: 160px;
  h1, h2 {
    position: relative;
    z-index: 5;
    margin-bottom: 0;
    font-size: 49px;
    font-weight: 400;
    line-height: 77px;
    color: #ffffff;
    letter-spacing: 0;
  }
  h2 {
    font-size: 35px;
    margin-bottom: 40px;
  }
  a {
    position: relative;
    z-index: 5;
    background: #99c50a;
    border-radius: 10px;
    color: #ffffff;
    padding: 29px 41px 29px 41px;
    font-size: 19px;
    font-weight: 400;
    line-height: 77px;
    letter-spacing: 0;
    text-decoration: none;
  }
}
.banner-background {
  background-image: url("../img/bsnner-background.png");
  height: 570px;
  margin-top: -570px;
  opacity: 0.8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main {
  text-align: center;
  padding-top: 100px;
  h2 {
    font-size: 35px;
    line-height: 50px;
    color: grey;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
}
.main-circle {
  margin: 0 auto;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background: #add136;
  margin-bottom: 50px;
}
.main-text {
  margin: 0 auto;
  width: 70%;
    font-size: 20px;
    color: grey;
  margin-bottom: 35px;
}
