@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.ttf");
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/opensansbold.ttf");
}
@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/opensanslight.ttf");
}
@font-face {
  font-family: "Open Sans Semibold";
  src: url("../fonts/opensanssemibold.ttf");
}
a {
  padding: 0;
}
* {
  box-sizing: border-box;
}
@main-color: #99c50a;
/*header*/
.header-container {
  max-width: 1026px;
  height: 85px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header-logo {
  margin-top: 21px;
  width: 31%;
  img {
    width: 211px;
  }
}
.header-nav {
  display: flex;
  justify-content: space-between;
  width: 50.39%;
  padding-top: 9px;
}
.header-link {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
  line-height: 77px;
  letter-spacing: 0px;
}
.header-nav-link {
  a {
    color: #666666;
    font-family: "Open Sans Semibold";
  }
}
.header-btn {
  width: 16.86%;
  padding-left: 7%;
  padding-top: 6px;
  a {
    background: @main-color;
    padding: 14px 30px 14px 30px;
    border-radius: 19px;
    color: #ffffff;
    text-decoration: none;
  }
}
/*banner*/
.banner {
  position: relative;
  background-image: url("../img/banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 149px;
  padding-bottom: 165px;
  h1, h2 {
    font-family: "Open Sans Semibold";
    position: relative;
    z-index: 5;
    margin-bottom: 0;
    font-size: 49px;
    font-weight: 400;
    line-height: 77px;
    color: #ffffff;
    letter-spacing: 0;
  }
  h2 {
    font-family: "Open Sans";
    font-size: 35px;
    line-height: 67px;
    margin-bottom: 34px;
  }
  a {
    font-family: "Open Sans Semibold";
    position: relative;
    z-index: 5;
    background: #99c50a;
    border-radius: 10px;
    color: #ffffff;
    padding: 22px 41px 22px 41px;
    font-size: 19px;
    font-weight: 400;
    line-height: 77px;
    letter-spacing: 0;
    text-decoration: none;
  }
}
.banner-background {
  background-image: url("../img/bsnner-background.png");
  height: 570px;
  margin-top: -570px;
  opacity: 0.8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*main*/
main {
  text-align: center;
  padding-top: 102px;
  h2 {
    font-size: 30px;
    line-height: 50px;
    color: grey;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
}
.main-circle-active-centr {
  margin: 0 auto;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background: #add136;
  margin-bottom: 40px;
}
.main-circle, .main-circle-active {
  background: black;
  margin-right: 20px;
   width: 43px;
  height: 43px;
  border-radius: 50%;
  padding-top: 8px;
  color: white;
}
.main-circle-active {
  background: #add136;
}
.main-text {
  margin: 0 auto;
  width: 70%;
    font-size: 20px;
    color: grey;
  margin-bottom: 35px;
  line-height: 32px;
}
.main-container {
  padding-top: 40px;
  justify-content: space-between;
  display: flex;
  width: 74%;
  margin: 0 auto;
}
.main-tittle {
  font-family: "Open Sans Light";
  font-size: 33px;
  font-weight: 300;
  letter-spacing: 0;
  color: #656565;
}
.main-container-wrapper {
  margin-top: 77px;
  display: flex;
}
.main-img {
  padding: 82px 104px 20px 82px;
}
.main-content {
  text-align: left;
  padding-top: 45px;
  h3 {
    font-family: "Open Sans";
    margin-top: 10px;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 0;
    color: #add136;
    margin-bottom: 25px;
  }
  p {
    font-family: "Open Sans";
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.1px;
    color: #606060;
  }
}
/*services*/
.services {
  display: flex;
  justify-content: center;
  padding-top: 88px;
}
.services-wrapper-left, .services-wrapper-right {
  width: 50%;
   h3 {
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 0.3px;
    color: #515151;
    margin-bottom: 26px;
  }
   p {
     font-family: "Open Sans";
    font-size: 17px;
    font-weight: 400;
     line-height: 30px;
    letter-spacing: 0;
    color: #515151;
     margin-bottom: 34px;
  }
  a {
    margin-left: 2px;
    padding: 17px 25px 17px 26px;
    color: white;
    background: #26a6d1;
    border-radius: 10px;
    font-family: "Open Sans Semibold";
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
  }
}
.services-wrapper-left {
  display: flex;
  padding: 38px 73px 57px 141px;
  background: #b3d7ff;
  img {
    margin-right: 45px;
    margin-top: 44px;
  }
}
.services-wrapper-right {
  display: flex;
  padding: 38px 5% 57px 76px;
  background: lightyellow;
  img {
    width: 101px;
    height: 92px;
    margin-top: 54px;
    margin-right: 72px;
  }
  a {
    background: #add136;
    padding-right: 18px;
  }
}
/*featured_projects*/
.featured_projects-tittle-container {
  display: flex;
  justify-content: center;
  padding-top: 81px;
  padding-bottom: 81px;
}
.featured_projects-tittle {
  width: 52%;
  h3 {
    font-family: "Open Sans Semibold";
    font-size: 29px;
    font-weight: 400;
    color: #515151;
    margin-bottom: 18px;
  }
  p {
    font-family: "Open Sans";
    font-size: 17px;
    font-weight: 400;
    color: #8f8f8f;
    line-height: 28px;
    letter-spacing: 0.1px;
  }
}
.featured_projects-btn {
  width: 23.53%;
  padding-left: 9.3%;
  padding-top: 42px;
  a {
    font-family: "Open Sans Semibold";
    font-size: 15px;
    font-weight: 400;
    color: #515151;
    padding: 14px 23px 18px 22px;
    border: #515151 1px solid;
    border-radius: 8px;
    text-decoration: none;
  }
}


